{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
    integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
  <script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>

  <title>Map</title>
  <link rel="stylesheet" href="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
  <script src="https://stuartmatthews.github.io/leaflet-geotiff/vendor/plotty.js"></script>
  <script src="https://stuartmatthews.github.io/leaflet-geotiff/vendor/geotiff.js"></script>
  <script src="https://kit.fontawesome.com/eb49c8d87e.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <style>
    body {
      overflow: hidden;
    }
  </style>
</head>

<body>
  <div id="map-container" class="mt-5" >
    
    <div id="map" ></div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Select File</h5>
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="productSelect">Select Product:</label>
              <select id="productSelect" class="form-control">
                <option value="lst">Land Surface Temperature</option>
                <option value="sm">Soil Moisture</option>
              </select>
            </div>
            <div class="form-group">
              <label for="startDatePicker">Start Date:</label>
              <input type="date" class="form-control" id="startDatePicker" value="2019-01-01">
            </div>
            <div class="form-group">
              <label for="endDatePicker">End Date:</label>
              <input type="date" class="form-control" id="endDatePicker" value="2023-01-01">
            </div>
            <div class="form-group">
              <label for="hourSelect">Select Hour(s):</label>
              <select id="hourSelect" class="form-control" multiple>
                <!-- Generate options for all hours -->
                {% for hour in hours %}
                <option value="{{hour}}">{{hour}}:00</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button id="closeButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="selectFileBtn">Select</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Chart</h5>
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="chart-container">
              <div id="chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
<!-- Add toast container -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 9999">
  <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="2000">
    <div class="toast-header bg-danger text-white">
      <strong class="me-auto">Error</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"></div>
  </div>
</div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/leaflet-geotiff.js' %}"></script>
  <script src="{% static 'js/leaflet-geotiff-plotty.js' %}"></script>
  <script src="{% static 'js/leaflet-geotiff-vector-arrows.js' %}"></script>
  <script src="{% static 'js/map_script.js' %}" data="{{ data }}"></script>
  <script src="{% static 'js/plotly.js' %}" data="{{ data }}"></script>
  <script>
    $(document).ready(function () {
      // Attach the change event handler to the product select element
      $('#productSelect').change(function () {
        var selectedValue = $(this).val();

        // Check if "Soil Moisture" is selected
        if (selectedValue === 'sm') {
          // Enable the hour select
          $('#hourSelect').prop('disabled', true);
        } else {
          // Disable the hour select
          $('#hourSelect').prop('disabled', false);
        }
      });
    });
  </script>


</body>

</html>